@media screen and (max-width: 720px) {}

@media screen and (min-width: 720px) {
    .hero-section {
        background-image: url('/Images/herobg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }



}

.second-section {
    position: relative;
    background-image: url('/Images/hdsecondbg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #012F6D;
    background-blend-mode: hard-light;
    background-attachment: fixed;
}

.slide-item {
    margin-right: 10px !important;
    /* Adjust this value to set the desired gap */
}

.slick-list {
    margin: 0 -10px !important;
    /* Adjust this value to set the gap for the first and last items */
}

.react-multi-carousel-list ul {
    height: 100%;
}

.react-multi-carousel-list ul li {
    height: 100%;
    width: 290px !important;
    margin-right: 30px !important;
}

.cards {
    height: 100%;
    width: 300px !important;
    margin-right: 30px !important;
}

.react-multiple-carousel__arrow {
    top: 120% !important;
}

.forth-first {
    background-image: url('/Images/forthfirstbg.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.forth-first::before {
    position: absolute;
    content: '';
    width: 100%;
    z-index: 10;
    height: 100%;
    background-image: url('/Images/forthfirstbgblend.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.forth-last-top {
    background-color: #012f6d;
    background-image: url('/Images/forthlasttop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.forth-last-bottom {
    background-color: #0040A1;
    background-image: url('/Images/forthlastbottom.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

@media screen and (max-width: 720px) {
    .newhalf {
        width: 50%;

    }

    .directionLeft {
        flex-direction: column;
        align-items: baseline;
    }

    .directionRight {
        flex-direction: column;
        align-items: end;
    }
}

@media screen and (min-width:1080px) and (max-width:1400px) {
    .resp-controls {
        margin-top: -3rem !important;
    }
}






input:focus {
    outline: none !important;
}

textarea:focus {
    outline: none !important;
}

@keyframes updown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
        /* Adjust the value for desired distance */
    }
}

.box-animation {
    animation: updown 2.5s infinite alternate ease-in-out;
    /* Adjust the duration as needed */
}

@keyframes infiniteScale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


@media screen and (min-width:1280px) {
    .scaleAnimation {
        animation: infiniteScale 2.5s infinite alternate ease-in-out;
    }
}

.input-wrapper {
    position: relative;
    width: fit-content;
}

.input-wrapper input {
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background-color: #012F6D;
    color: white;
    padding: 4px;
    padding-left: 0;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    width: 200px; /* Set your desired width */
}

.input-wrapper input:hover {
    border-bottom-width: 100%;
}
.slick-arrow{
    position: absolute !important;
    top: 140% !important;
}
.cards-white{
    background-color: white;
    width: 306px !important;
    /* height: 457px !important; */
}


.overlay{
   background-color: rgba(0,0,0,0.6);
   transition: all 1s ease-in-out;
   opacity: 0;
}

@media screen and (min-width:1900px){
  .resp-large{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }
}

.image-container {
    overflow: hidden; /* Ensure the image does not overflow its container */
    height: 100%; /* Set container height to match the parent */
    width: 100%; /* Set container width to match the parent */
    position: relative; /* Ensure absolute positioning works relative to this container */
}

.scale-on-hover {
    transition: transform 0.3s ease-in-out; /* Add a smooth transition */
}

.scale-on-hover:hover {
    transform: scale(1.2); /* Scale the image by 20% on hover */
}
