@media screen and (max-width: 720px) {
    .hero-section {
        background-image: url('/Images/herobg.png');
        background-repeat: no-repeat;
        background-size: cover ;
        background-position: center;
    }
}

@media screen and (min-width: 720px) {
    .hero-section {
        background-image: url('/Images/herobg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }



}

@media screen and (max-width: 720px) {
    .newhalf {
        width: 50%;

    }

    .directionLeft {
        flex-direction: column;
        align-items: baseline;
    }

    .directionRight {
        flex-direction: column;
        align-items: end;
    }
}

@media screen and (min-width:1080px) and (max-width:1400px) {
    .resp-controls {
        margin-top: -3rem !important;
    }
}

@media screen and (min-width:1280px) {
    .scaleAnimation {
        animation: infiniteScale 2.5s infinite alternate ease-in-out;
    }
}

@media screen and (min-width:1900px) {
    .resp-large {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
    }
}

@media screen and (max-width:720px) {
    .case-study-left {
        min-height: 150px;
    }
}

@media screen and (min-width:1080px) and (max-width:1300px) {
    .responsive-strategies-top {
        padding-left: 0 !important;
    }

    .responsive-strategies-mid {
        padding-left: 1rem !important;
    }

    .responsive-strategies-bot {
        padding-left: 1.5rem !important;
    }

    .responsive-strategies-marging {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .resposnive-exp-margin {
        margin-left: 2rem;
    }

    .responsive-who-we-text {
        font-size: 14px !important;
    }
}

@media screen and (min-width:1300px) and (max-width:1500px) {
    .resposnive-exp-margin {
        margin-left: 2rem;
    }

    .responsive-who-we-text {
        font-size: 14px !important;
    }
}

.different-mouse {
    cursor: grab !important;
}

@media screen and (min-width:1270px) {
    .responsive-planCards-width{
        min-width: 400px;
    }
}

@media screen and (min-width:1024px) and (max-width:1050px) {
    .responsive-firstSec-header {
        font-size: 2.5rem;
        line-height: 1.4;
    }
    .responsive-planCards-width{
        min-width: 300px;
    }
    .responsive-forthCard-title{
        font-size: 2rem !important;
    }

    .responsive-firstSec-para {
        font-size: 0.8rem;
        line-height: 2;
    }

    .responsive-total-text {
        font-size: 2rem;
    }

    .responsive-secondBox-flex {
        flex-direction: column;
        justify-content: left !important;
        align-items: start !important;
    }

    .responsive-secondBox-flex-right {
        flex-direction: column;
        text-align: end;
        justify-content: right !important;
        align-items: end !important;
    }
    .responsive-second-numbers{
        font-size: 3rem !important;
    }
    .responsive-second-head{
        font-size: 2rem;
    }
}

@media screen and (min-width:1051px) and (max-width:1280px) {
    .responsive-firstSec-header {
        font-size: 2.5rem;
        line-height: 1.4;
    }
    .responsive-forthCard-title{
        font-size: 2rem !important;
    }

    .responsive-firstSec-para {
        font-size: 0.9rem;
    }

    .responsive-firstSec-margin {
        margin-top: 3rem;
    }

    .responsive-total-text {
        font-size: 2rem;
    }

    .responsive-secondBox-flex {
        flex-direction: column;
        justify-content: left !important;
        align-items: start !important;
    }

    .responsive-secondBox-flex-right {
        flex-direction: column;
        text-align: end;
        justify-content: right !important;
        align-items: end !important;
    }
    .responsive-planCards-width{
        min-width: 300px;
    }
    .responsive-second-numbers{
        font-size: 3rem !important;
    }
    .responsive-second-head{
        font-size: 2.3rem;
        flex-wrap: wrap;
    }
}

@media screen and (min-width:1280px) and (max-width:1380px) {
    .responsive-firstSec-header {
        font-size: 2.5rem;
        line-height: 1.4;
    }

    .responsive-total-text {
        font-size: 2rem;
    }

    .responsive-secondBox-flex {
        flex-direction: column;
        justify-content: left !important;
        align-items: start !important;
    }

    .responsive-secondBox-flex-right {
        flex-direction: column;
        text-align: end;
        justify-content: right !important;
        align-items: end !important;
    }
}

@media screen and (min-width:1380px) and (max-width:1500px) {
    .responsive-total-text {
        font-size: 2rem;
    }

    .responsive-secondBox-flex {
        flex-direction: column;
        justify-content: left !important;
        align-items: start !important;
    }

    .responsive-secondBox-flex-right {
        flex-direction: column;
        text-align: end;
        justify-content: right !important;
        align-items: end !important;
    }
}

@media screen and (min-width:1000px) and (max-width:1280px) {
    .responsive-body-padding{
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }
    .responsive-years-btn{
        flex-direction: column;
        gap: 3rem;
    }
    .responsive-analyzing-cardHead{
        font-size: 3rem;
    }
    .responsive-btn-text{
        font-size: 14px;
        white-space: nowrap;
    }
    .responsive-btn-margin{
        margin-left: 0.5rem;
    }
    .responsive-btn-padding{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .responsive-submit-btn{
        width: 40%;
    }
    .responsive-hide{
        display: none;
    }
    .responsive-show{
        display: flex;
    }
    .ewf-investment-head{
        font-size: 3rem;
    }
}
@media screen and (min-width:1280px) {
    .responsive-hide{
        display: flex;
    }
    .responsive-show{
        display: none;
    }
}


.second-section {
    position: relative;
    background-image: url('/Images/hdsecondbg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #012F6D;
    background-blend-mode: hard-light;
    background-attachment: fixed;
}

.slide-item {
    margin-right: 10px !important;
    /* Adjust this value to set the desired gap */
}

.slick-list {
    margin: 0 -10px !important;
    /* Adjust this value to set the gap for the first and last items */
}

.react-multi-carousel-list ul {
    height: 100%;
}

.react-multi-carousel-list ul li {
    height: 100%;
    width: 290px !important;
    margin-right: 30px !important;
}

.cards {
    height: 100%;
    width: 300px !important;
    margin-right: 30px !important;
}

.react-multiple-carousel__arrow {
    top: 120% !important;
}

.forth-first {
    background-image: url('/Images/forthfirstbg.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.forth-first::before {
    position: absolute;
    content: '';
    width: 100%;
    z-index: 10;
    height: 100%;
    background-image: url('/Images/forthfirstbgblend.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.forth-last-top {
    background-color: #012f6d;
    background-image: url('/Images/forthlasttop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.forth-last-bottom {
    background-color: #0040A1;
    background-image: url('/Images/forthlastbottom.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}








input:focus {
    outline: none !important;
}

textarea:focus {
    outline: none !important;
}

@keyframes updown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
        /* Adjust the value for desired distance */
    }
}

.box-animation {
    animation: updown 2.5s infinite alternate ease-in-out;
    /* Adjust the duration as needed */
}

@keyframes infiniteScale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}




.input-wrapper {
    position: relative;
    width: fit-content;
}

.input-wrapper input {
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background-color: #012F6D;
    color: white;
    padding: 4px;
    padding-left: 0;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    width: 200px;
    /* Set your desired width */
}

.input-wrapper input:hover {
    border-bottom-width: 100%;
}

.slick-arrow {
    position: absolute !important;
    top: 140% !important;
}

.cards-white {
    background-color: white;
    width: 306px !important;
    /* height: 457px !important; */
}


.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 1s ease-in-out;
    opacity: 0;
}


.image-container {
    overflow: hidden;
    /* Ensure the image does not overflow its container */
    height: 100%;
    /* Set container height to match the parent */
    width: 100%;
    /* Set container width to match the parent */
    position: relative;
    /* Ensure absolute positioning works relative to this container */
}

.scale-on-hover {
    transition: transform 0.3s ease-in-out;
    /* Add a smooth transition */
}

.scale-on-hover:hover {
    transform: scale(1.2);
    /* Scale the image by 20% on hover */
}

.case-study-left {
    background-color: #013276;
    background-image: url('/Images/casestudy.png');
    background-repeat: no-repeat;
    background-size: cover;
}



.analyzing {
    background-color: #F6161E;
    background-image: url('/Images/analyzing.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.strategies {
    background-color: #0040A1;
    background-image: url('/Images/strategies.png');
    background-repeat: no-repeat;
    background-size: cover;
}

