@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: msjh_0;
}

.tiro{
  font-family: TiroTelugu-Italic !important;
}

.tiro-regular{
  font-family: TiroTelugu-Regular !important;
}

@font-face {
  font-family: msjh_0;
  src: url(/Fonts/msjh_0.ttf);
}

@font-face {
  font-family: TiroTelugu-Italic;
  src: url(/Fonts/TiroTelugu-Italic.ttf);
}
@font-face {
  font-family: TiroTelugu-Regular;
  src: url(/Fonts/TiroTelugu-Regular.ttf);
}
.white::placeholder {
  color: white ;
}

.black::placeholder{
  color: black !important;
}


.hideAnimation{
  opacity: 0;
  transition: all 2s;
}

.show{
  opacity: 1;
}